//@import '~bootstrap/scss/bootstrap';

$primary: greenyellow;

.bg-green{
  background: url("../images/routine.png");
  display: flex;
  transition: all .5s ease-in-out;
  transform: rotate(30deg);
}

@media (min-resolution: 2dppx) {
  .bg-green{
    background: url("../images/routine.png");
  }
}


