@import url(https://fonts.googleapis.com/css?family=Lato);.header .hero-title .main-title, .header .hero-title .sub-title, .header .hero-action .action-btn, .header .hero-action .action-btn-2 {
  color: #fff;
  display: block;
  letter-spacing: 15px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(123, 210, 152, 0.8), rgba(59, 172, 96, 0.8)), url(hero.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /*Left to Top*/ }
  .header .logo-box {
    position: absolute;
    top: 20px;
    left: 30px; }
    .header .logo-box .logo {
      max-width: 60px; }
  .header .hero-title {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    .header .hero-title .main-title {
      font-size: 60px;
      -webkit-animation-name: anim-left;
              animation-name: anim-left;
      -webkit-animation-duration: .5s;
              animation-duration: .5s; }

@-webkit-keyframes anim-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes anim-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
    .header .hero-title .sub-title {
      font-size: 22px;
      -webkit-animation-name: anim-right;
              animation-name: anim-right;
      -webkit-animation-duration: .5s;
              animation-duration: .5s;
      -webkit-animation-delay: .5s;
              animation-delay: .5s; }

@-webkit-keyframes anim-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes anim-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
  .header .hero-action {
    position: absolute;
    bottom: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: flex; }
    .header .hero-action .action-btn {
      letter-spacing: 5px;
      text-decoration: none;
      padding: 10px 15px;
      border: 3px solid #fff;
      transition: all .2s ease-in-out;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 8px; }
      .header .hero-action .action-btn:hover {
        border-radius: 0;
        -webkit-transform: skew(-10deg);
                transform: skew(-10deg);
        background: linear-gradient(#7bd298, #3bac60); }
      .header .hero-action .action-btn-2 {
        text-decoration: none;
        background: #fff;
        color: #000;
        padding: 10px 15px;
        margin-left: 20px;
        border-radius: 100px;
        transition: all .2s;
        position: relative; }
        .header .hero-action .action-btn-2:hover {
          box-shadow: 1px 0 10px #000;
          -webkit-transform: translateY(-3px);
                  transform: translateY(-3px); }
          .header .hero-action .action-btn-2:hover:after {
            opacity: 0;
            -webkit-animation: moveBtn .3s ease;
                    animation: moveBtn .3s ease;
            -webkit-animation-fill-mode: backwards;
                    animation-fill-mode: backwards;
            -webkit-transform: scaleY(1.5) scaleX(1.2);
                    transform: scaleY(1.5) scaleX(1.2); }
        .header .hero-action .action-btn-2:active {
          box-shadow: 1px 0 15px #000;
          -webkit-transform: translateY(-1px);
                  transform: translateY(-1px); }
        .header .hero-action .action-btn-2:after {
          content: '';
          background: #fff;
          height: 100%;
          width: 100%;
          position: absolute;
          border-radius: 100px;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s; }
