* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.bg-green {
  background: url(routine.png);
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  border-radius: 10px; }

.title {
  background: orange;
  padding: 10px 15px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center; }

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 15px; }

.navbar .nav-link {
  font-size: 15px;
  color: white; }

* html body {
  background: gray; }

.section .container {
  width: 1200px;
  margin: 0 auto; }
  .section .container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0; }

/**
* Flex Column Width
*/
.col-1 {
  width: 8.33333%;
  padding: 15px;
  background: yellow; }

.col-2 {
  width: 16.66667%;
  padding: 15px;
  background: green; }

.col-3 {
  width: 25%;
  padding: 15px;
  background: greenyellow; }

.col-4 {
  width: 33.33333%;
  padding: 15px;
  background: darkred; }

.col-5 {
  width: 41.66667%;
  padding: 15px;
  background: skyblue; }

.col-6 {
  width: 50%;
  padding: 15px;
  background: darkred; }

.col-7 {
  width: 58.33333%;
  padding: 15px;
  background: orange; }

.col-8 {
  width: 66.66667%;
  padding: 15px;
  background: green; }

.col-9 {
  width: 75%;
  padding: 15px;
  background: white; }

.col-10 {
  width: 83.33333%;
  padding: 15px;
  background: cyan; }

.col-11 {
  width: 91.66667%;
  padding: 15px;
  background: gray; }

.col-12 {
  width: 100%;
  padding: 15px;
  background: skyblue; }
