.bg-green {
  background: url(routine.png);
  display: flex;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .bg-green {
    background: url(routine.png); } }
