.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($ligt-green, .8), rgba($dark-green, .8)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); /*Left to Top*/

  .logo-box{
    position: absolute;
    top: 20px;
    left: 30px;
    .logo{
      max-width: 60px;
    }
  }

  .hero-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .main-title{
      @extend .title;
      font-size: 60px;
      @include anim-left-right(left, -100px);
      animation-name: anim-left;
      animation-duration: .5s;
    }

    .sub-title{
      @extend .title;
      font-size: 22px;

      @include anim-left-right(right, 100px);
      animation-name: anim-right;
      animation-duration: .5s;
      animation-delay: .5s;

    }

  }

  .hero-action{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    .action-btn{
      @extend .title;
      letter-spacing: 5px;
      text-decoration: none;
      padding: 10px 15px;
      border: 2px solid #fff;
      transition: all .2s ease-in-out;
      backface-visibility: hidden;
      border-radius: 8px;

      &:hover{
        border-radius: 0;
        transform: skew(-10deg);
        background: linear-gradient($ligt-green, $dark-green);
      }

      &-2{
        @extend .title;
        text-decoration: none;
        background: #fff;
        color: #000;
        padding: 10px 15px;
        margin-left: 20px;
        border-radius: 100px;
        transition: all .2s;
        position: relative;

        &:hover{
          box-shadow: 1px 0 10px #000;
          transform: translateY(-3px);
          &:after{
            opacity: 0;
            animation: moveBtn .3s ease;
            animation-fill-mode: backwards;
            transform: scaleY(1.5) scaleX(1.2);
            //@keyframes moveBtn {
            //  0%{
            //    transform: scale(0);
            //  }
            //
            //  100%{
            //    opacity: 1;
            //    transform: scaleY(1.5) scaleX(1.2);
            //  }
            //}
          }
        }
        &:active{
          box-shadow: 1px 0 15px #000;
          transform: translateY(-1px);
        }

        &:after{
          content: '';
          background: #fff;
          height: 100%;
          width: 100%;
          position: absolute;
          border-radius: 100px;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s;
        }

      }

    }



  }

}
