//=== colors ===
$text-color: #000;
$theme-color: greenyellow;
$secondary-color: darkgreen;
$link-color: blue;
$menu-item-color: white;

//=== fonts ===
$text-font: Verdana, Arial;
$heading-font: 'Palatino Linotype';

//=== font-sizes ===
$body-font-size: 14px;
$heading-font-size: 38px;
$menu-item-font-size: 15px;

//=== section dimensions ===
$header: 60px;
