//@import '~bootstrap/scss/bootstrap';
@import "mixins";
@import "variables";

$primary: greenyellow;
$prefix: '.prefix';

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.bg-green{
  background: url("../images/routine.png");
  @include large-text;
  @include rounded;
}

.title{
  @include warning;
  @include rounded;
  text-align: center;
}

.navbar{

  &-nav{
    @include flex {
      justify-content: space-between;
    };
    padding: 15px 15px;
  }
  .nav-link{
    font: {
      size: $menu-item-font-size;
    }
    color: $menu-item-color;
  }

}

@include content{
  .list-group{
    @include flex;
  }
}

@include apply-to-ie6{
  * html{
    body{
      background: gray;
    }
  }
}

.section{
  .container{
    width: 1200px;
    margin: 0 auto;
    .row{
      @include flex;
      margin: 0 -15px 0;
    }
  }
}


/**
* Flex Column Width
*/

$colors: red, green, yellow,white, purple, greenyellow,darkred, cyan, skyblue,orange, blue, gray;

@for $i from 1 through 13{
  $width: percentage(1/(12/$i));
  $color: nth($colors, random(12));


  .col-#{$i}{
    width: $width;
    padding: 15px;
    background:$color;
    .box{
    }
  }

}


