@mixin anim-left-right($direction, $offest){
  @keyframes anim-#{$direction} {
    0%{
      opacity: 0;
      transform: translateX($offest);
    }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
  }
}